<br>
<hr>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-progress-bar color="accent" mode="query"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<hr>
<p style="color: rgba(122, 122, 122, 1.0) !important;">
    <span>&nbsp;&nbsp;&nbsp;======&nbsp;&nbsp;&nbsp;https://default-index.firebaseapp.com/</span>
    <span>&nbsp;&nbsp;&nbsp;======&nbsp;&nbsp;&nbsp;github.com/jozefjavorskyDodo</span>
    <br>
    <span>&nbsp;&nbsp;&nbsp;======&nbsp;&nbsp;&nbsp;jozef.javorsky.strom44zem88@gmail.com</span>
</p>